<div class="row m-0">
  <div class="col-12">
    <div class="dashboard-info-box rounded p-3 mb-4 text-white">
      <p>Merhaba,</p>
      <p>
        BOSSOFIN size e-Defter verileriniz üzerinden anlık ve güncel veriler
        sunar. Gerçek finansal verilerinizi görmek için e-Defter verilerinizi
        yüklemeniz yeterlidir.
      </p>
      <p>
        e-Defter verilerinizi otomatik olarak yüklemek için çalışmış olduğunuz
        <u> Özel Entegratör veya Muhasebe Yazılım</u> firmasının web servis
        bağlantısı yapması yeterlidir.
      </p>
      <p>
        Kullanmış olduğunuz sistemler ile entegrasyon mevcut değil ise
        <b>teknik@bossofin.com</b> adresi ile iletişime geçiniz.
      </p>
    </div>
  </div>
  <div class="col-lg-6 mb-4">
    <div class="bg-white pt-3 ps-3 rounded mb-4 d-flex">
      <h6 class="align-self-center">Dönem</h6>
      <app-select-year
        class="ms-3 align-self-center"
        [selectedYear]="selectedYear"
        (onChange)="getSelectedYear($event)"
      ></app-select-year>
      <app-select-month
        class="ms-3 align-self-center"
        [selectedPeriods]="selectedMonth"
        (onChange)="getSelectedMonth($event)"
      ></app-select-month>
      <button mat-mini-fab class="ms-2 align-self-center" (click)="onSearch()">
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <app-summary
      [score]="score"
      [profitAndDebit]="profitAndDebitData"
    ></app-summary>
    <app-doviz-kuru class="mt-4 align-self-center"></app-doviz-kuru>
  </div>
  <div class="col-lg-6">
    <div class="row">
      <app-bar-chart
        class="col-lg-6 mb-4"
        [data]="cariOran"
        [selectedYear]="selectedYear"
        text="Cari Oran"
      ></app-bar-chart>
      <app-bar-chart
        class="col-lg-6 mb-4"
        [data]="borcOdemeSuresi"
        [selectedYear]="selectedYear"
        text="Borç Ödeme Süresi"
      ></app-bar-chart>
      <app-bar-chart
        class="col-lg-6 mb-4"
        [data]="aktifKarlilik"
        [selectedYear]="selectedYear"
        text="Aktif Karlılık"
      ></app-bar-chart>
      <app-bar-chart
        class="col-lg-6 mb-4"
        [data]="faaliyetGiderlerininNetSatislaraOrani"
        [selectedYear]="selectedYear"
        text="Faaliyet Giderlerinin Net Satışlara Oranı"
      ></app-bar-chart>
    </div>
  </div>
</div>
