<form [formGroup]="addForm">
  <mat-form-field appearance="fill">
    <mat-label>Toplam Çalışan Sayısı</mat-label>
    <input type="number" matInput formControlName="calisanSayisi" />
    <mat-error></mat-error>
  </mat-form-field>
  <mat-form-field class="ms-3" appearance="fill">
    <mat-label>Hesap Kodları</mat-label>
    <mat-select formControlName="hesapKodu">
      <mat-option *ngFor="let kod of kodlar" [value]="kod.value">
        {{ kod.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="ms-3" appearance="fill">
    <mat-label>Tutar</mat-label>
    <input
      type="text"
      matInput
      mask="separator.2"
      thousandSeparator="."
      formControlName="tutar"
    />
    <span matSuffix>₺</span>
    <mat-error></mat-error>
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="onAdd()" class="ms-3">
    Ekle
  </button>
</form>
<table mat-table [dataSource]="dataSource" class="w-100">
  <ng-container matColumnDef="hesapKodu">
    <th mat-header-cell *matHeaderCellDef>Hesap kodu</th>
    <td mat-cell *matCellDef="let element">{{ element.hesapKodu }}</td>
  </ng-container>
  <ng-container matColumnDef="calisanSayisi">
    <th mat-header-cell *matHeaderCellDef>Çalışan Sayısı</th>
    <td mat-cell *matCellDef="let element">{{ element.calisanSayisi }}</td>
  </ng-container>
  <ng-container matColumnDef="tutar">
    <th mat-header-cell *matHeaderCellDef class="text-end">Tutar</th>
    <td mat-cell *matCellDef="let element">
      <app-currency [value]="element.tutar"></app-currency>
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element; let i = index">
      <button mat-icon-button color="warn" (click)="onDelete(i)" class="ms-3">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<div class="p-3 d-flex justify-content-end">
  <button mat-flat-button color="primary">Kaydet</button>
</div>
