<table class="table text-primary-dark">
  <thead>
    <tr>
      <th colspan="3">FİNANSMAN GİDER KISITLAMASI DETAYLARI</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Finansman Giderleri</td>
      <td>
        Yabancı kaynağın kullanım süresine bağlı olarak doğan her türlü faiz,
        komisyon, vade farkı, kâr payı, kur farkı, faktoring kuruluşlarına
        verilen iskonto bedelleri ve benzeri adlar altında yapılmış olan gider
        ve maliyet unsurlarından oluşur. Bu tutarların yer aldığı 780, 660, 656
        hesaplar ve benzeri hesaplardaki rakamlar kısıtlamaya tabi olacak.
      </td>
    </tr>
    <tr>
      <td>Özsermaye</td>
      <td>
        Gider kısıtlamasının yapılacağı dönem itibariyle çıkarılan bilançodaki
        özsermaye olup, her dönem sonu itibariyle bilanço çıkarılması gerekiyor.
        Ör. 2021/1. Geçici için 31.03.2021 tarihli bilançodaki özsermaye dikkate
        alınacak.
      </td>
    </tr>
    <tr>
      <td>Yabancı Kaynaklar</td>
      <td>
        Bilançonun kısa vadeli yabancı kaynaklar ve uzun vadeli yabancı
        kaynaklar toplamını ifade etmekte. (Aktif-Özsermaye)
      </td>
    </tr>
    <tr>
      <td>Finansman Gider Kıstlamasına tabi olmayan giderler</td>
      <td>
        Teminat mektubu komisyonları, tahvil ihracı ile ilgili olarak yapılan
        baskı ve benzeri giderler ile ipotek masrafları gibi herhangi bir
        yabancı kaynak kullanımına bağlı olmaksızın yapılan giderlerin gider
        kısıtlamasına konu edilmesi söz konusu değildir. Aynı şekilde bir
        finansman gideri olmayıp finansman geliri azalması niteliğinde olan
        erken ödeme iskontoları veya peşin ödeme iskontoları da
        <strong><u>gider indirimi kısıtlaması kapsamı dışındadır.</u></strong
        ><br /><br />
        Kredi sözleşmelerine ilişkin olarak ödenen damga vergisi veya banka
        havale ücretlerine ilişkin ödenen banka ve sigorta muameleleri vergisi
        gibi bir yabancı kaynağın kullanım süresine bağlı olarak doğmayan gider
        ve maliyet unsurları
        <strong
          ><u
            >gider indirimi kısıtlaması uygulamasına tabi olmayacaktır.</u
          ></strong
        >
      </td>
    </tr>
    <tr>
      <td>Yapılmakta Olan Yatırımlara ait finansman giderleri</td>
      <td>
        İlgili duran varlık kullanılmaya hazır hale gelinceye kadar yatırım
        projelerine ilişkin olarak “Yapılmakta olan yatırımlar” hesabında
        izlenen tutarlar da dahil olmak üzere her türlü (teşvik belgeli veya
        belgesiz) amortismana tabi iktisadi kıymetler olup, bunların maliyetine
        eklenen finansman
        <strong><u>giderleri kısıtlamaya tabi olmayacak</u></strong>
      </td>
    </tr>
    <tr>
      <td>Yıllara Yaygın İnşaat İşlerinde Uygulama</td>
      <td>
        Bu işlerle uğraşanların kullandıkları yabancı kaynaklara ilişkin
        finansman giderlerinin, işin kesin kâr veya zararının tespit edildiği
        yıl kazancının hesaplanmasında gider veya maliyet unsuru olarak dikkate
        alınması gerektiğinden, gider kısıtlamasına ilişkin uygulama da aynı
        dönemde yapılacaktır. Birden fazla inşaat ve onarma işinin birlikte
        yapılması veya yıllara sari inşaat ve onarma işlerinin yanı sıra başka
        işlerin de bulunması halinde, yapılan finansman giderleri hangi yılın
        kâr veya zarar tutarının tespitinde dikkate alınıyorsa, o yılda gider
        indirimi kısıtlamasına konu edilecektir.
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="3">
        <strong
          >Gelir tablosunda yer alan doğrudan finansman giderleri kısıtlamaya
          tabi olacaktır. Bu giderler içinden yatırım maliyetine aktarılan tutar
          olursa, aktarılan tutar gider kısıtlamasına tabi olmayacak, kalan
          tutar kısıtlamada dikkate alınacaktır.</strong
        >
      </th>
    </tr>
  </tfoot>
</table>
