<app-select-period-type
  *ngIf="selectedCompany"
  (onChange)="onPeriodTypeChange($event)"
  class="ms-2"
></app-select-period-type>
<div class="d-flex">
  <div *ngIf="selectedPeriodType" class="align-self-center">
    <h5>Birinci Period</h5>
    <app-select-year (onChange)="onStartYearChange($event)"></app-select-year>
    <app-select-month
      (onChange)="onStartMonthChange($event)"
      *ngIf="selectedStartYear"
      class="ms-3"
    ></app-select-month>
  </div>
  <div *ngIf="selectedStartMonth" class="align-self-center ms-3">
    <h5>İkinci Period</h5>
    <app-select-year
      [startYear]="selectedStartYear"
      (onChange)="onEndYearChange($event)"
    ></app-select-year>
    <app-select-month
      *ngIf="selectedEndYear"
      (onChange)="onEndMonthChange($event)"
      class="ms-3"
    ></app-select-month>
    <button
      mat-mini-fab
      (click)="onSearch()"
      [disabled]="!selectedEndMonth"
      class="ms-3"
    >
      <mat-icon>search</mat-icon>
    </button>
  </div>
</div>
<ng-container *ngIf="karBuyumesi || satisinBuyumesi">
  <mat-form-field appearance="fill">
    <mat-label>Rapor Seç</mat-label>
    <mat-select [(ngModel)]="selectedReport">
      <mat-option *ngFor="let report of reportList" [value]="report.value">
        {{ report.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <app-buyume-raporu-chart
    [selectedPeriod]="selectedPeriod"
    *ngIf="selectedReport === 'karBuyumesi'"
    [data]="karBuyumesi"
    chartType="karBuyumesi"
  ></app-buyume-raporu-chart>
  <app-buyume-raporu-chart
    [selectedPeriod]="selectedPeriod"
    *ngIf="selectedReport === 'satisinBuyumesi'"
    [data]="satisinBuyumesi"
    chartType="satisBuyumesi"
  ></app-buyume-raporu-chart>
  <app-buyume-raporu-chart
    [selectedPeriod]="selectedPeriod"
    *ngIf="selectedReport === 'satisBuyumesi'"
    [data]="satisinBuyumesi"
    chartType="satisBuyumesi"
  ></app-buyume-raporu-chart>
</ng-container>
