<div class="col-md-6 mb-4">
  <div class="bg-white rounded p-4 summary-first">
    <h4 class="text-primary mb-0 d-flex">
      <mat-icon class="align-self-center">group</mat-icon>
      <span class="align-self-center ms-2">54896</span>
    </h4>
    <span class="text-secondary">Toplam Müşteri Sayısı</span>
    <ul class="list-unstyled mt-4">
      <li class="d-flex">
        <span class="align-self-center w-50">Lorem</span>
        <b class="align-self-center text-secondary">46576</b>
      </li>
      <li class="d-flex">
        <span class="align-self-center w-50">Ipsum</span>
        <b class="align-self-center text-secondary">1248</b>
      </li>
      <li class="d-flex">
        <span class="align-self-center w-50">Dolor</span>
        <b class="align-self-center text-secondary">124</b>
      </li>
    </ul>
    <i class="d-block mt-3">Nullam non viverra nisl, quis fringilla justo.</i>
  </div>
</div>
<div class="col-md-6 mb-4">
  <div class="bg-white rounded p-4 summary-first">
    <h4 class="text-success mb-0 d-flex">
      <mat-icon class="align-self-center">group</mat-icon>
      <span class="align-self-center ms-2">54896</span>
    </h4>
    <span class="text-secondary">Toplam Aktif Müşteri Sayısı </span>
    <ul class="list-unstyled mt-4">
      <li class="d-flex">
        <span class="align-self-center w-50">Lorem</span>
        <b class="align-self-center text-secondary">46576</b>
      </li>
      <li class="d-flex">
        <span class="align-self-center w-50">Ipsum</span>
        <b class="align-self-center text-secondary">1248</b>
      </li>
      <li class="d-flex">
        <span class="align-self-center w-50">Dolor</span>
        <b class="align-self-center text-secondary">124</b>
      </li>
    </ul>
    <i class="d-block mt-3">Nullam non viverra nisl, quis fringilla justo.</i>
  </div>
</div>
<div class="col-md-6">
  <div class="bg-white rounded p-4 summary-first">
    <h4 class="text-warning mb-0 d-flex">
      <mat-icon class="align-self-center">store</mat-icon>
      <span class="align-self-center ms-2">54896</span>
    </h4>
    <span class="text-secondary">Aktif Satıcı / Tedarikçi Sayısı</span>
    <i class="d-block mt-3">Nullam non viverra nisl, quis fringilla justo.</i>
  </div>
</div>
<div class="col-md-6">
  <div class="bg-white rounded p-4 summary-first">
    <h4 class="text-danger mb-0 d-flex">
      <mat-icon class="align-self-center">store</mat-icon>
      <span class="align-self-center ms-2">54896 ₺</span>
    </h4>
    <span class="text-secondary">Toplam Satıcı - Tedarikçi Sayısı</span>
    <i class="d-block mt-3">Nullam non viverra nisl, quis fringilla justo.</i>
  </div>
</div>
