<div class="col-12">
  <div class="summary-wrapper rounded p-3">
    <ng-container *ngIf="company$ | async as company">
      <h5 class="text-white text-center mb-4">{{ company.companyName }}</h5>
    </ng-container>
    <div class="row">
      <div class="col mb-3">
        <div class="bg-white rounded p-4 summary-first position-relative">
          <ngx-gauge
            [type]="gaugeType"
            [value]="score"
            label="SKOR"
            [thick]="18"
            [thresholds]="thresholdConfig"
            class="m-auto d-block"
          >
          </ngx-gauge>
        </div>
      </div>
      <div class="col mb-3">
        <div class="bg-white rounded p-4 summary-first">
          <h4 class="text-danger mb-0 d-flex">
            <mat-icon class="align-self-center">payments</mat-icon>
            <span class="align-self-center ms-2">
              <app-currency [value]="profitAndDebit"></app-currency>
            </span>
          </h4>
          <span class="text-secondary">Aylık Net Kar ve Zarar</span>
        </div>
      </div>
    </div>
  </div>
</div>
