<h2 mat-dialog-title>
  {{ title }}
</h2>
<mat-dialog-content>
  <form [formGroup]="addForm">
    <mat-form-field class="d-block" appearance="fill">
      <mat-label>Firma Adı</mat-label>
      <input type="text" matInput formControlName="companyName" />
      <mat-error>
        {{ companyNameValidationMessage }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="d-block" appearance="fill">
      <mat-label>Vergi No</mat-label>
      <input type="number" matInput formControlName="taxNumber" />
      <mat-error>
        {{ taxNumberValidationMessage }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="d-block" appearance="fill">
      <mat-label>Vergi Dairesi</mat-label>
      <input type="text" matInput formControlName="taxOffice" />
      <mat-error>
        {{ taxOfficeValidationMessage }}
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>İptal</button>
  <button mat-button [disabled]="addForm.invalid" (click)="onSave()">
    Kaydet
  </button>
</mat-dialog-actions>
