<mat-card class="p-5">
  <div class="text-center mb-5">
    <img src="../../../../../assets/images/logo.svg" alt="" />
  </div>
  <mat-card-title class="text-center">Şifre Sıfırlama</mat-card-title>
  <mat-card-subtitle class="text-center mt-3">
    Şifrenizi sıfırlamak için e-posta adresinizi yazınız.
  </mat-card-subtitle>
  <mat-card-content class="mt-4">
    <form [formGroup]="form">
      <mat-form-field class="d-block mb-4">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
        <mat-error>
          {{ emailValidationError }}
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions class="text-center">
    <button
      mat-flat-button
      color="primary"
      (click)="onSubmit()"
      [disabled]="form.invalid"
    >
      Sıfırla
    </button>
    <button mat-flat-button routerLink="/auth" class="ms-4">İptal</button>
  </mat-card-actions>
</mat-card>
