<app-select-company (onSelect)="onCompanySelect($event)"></app-select-company>
<app-muavin-select-period
  (onChange)="onPeriodChange($event)"
></app-muavin-select-period>
<mat-form-field>
  <mat-label>Hesap Kodu Seç</mat-label>
  <mat-select [(ngModel)]="selectedHesapKodu" [disabled]="!data">
    <mat-option *ngFor="let kod of hesapKodlari" [value]="kod.value">
      {{ kod.value }} - {{ kod.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
<button
  [disabled]="!selectedHesapKodu"
  mat-icon-button
  color="primary"
  (click)="onFilter()"
>
  <mat-icon>filter_alt</mat-icon>
</button>
<button
  *ngIf="selectedHesapKodu"
  mat-icon-button
  color="warn"
  (click)="onDeleteHandle()"
>
  <mat-icon>delete</mat-icon>
</button>
<div class="table-responsive">
  <table mat-table [dataSource]="data" class="w-100">
    <ng-container matColumnDef="mainId">
      <th class="p-2" mat-header-cell *matHeaderCellDef>Hesap Kodu</th>
      <td class="p-2 text-primary-dark" mat-cell *matCellDef="let row">
        {{ row.mainId }}
      </td>
    </ng-container>
    <ng-container matColumnDef="postingDate">
      <th class="p-2" mat-header-cell *matHeaderCellDef>Tarih</th>
      <td class="p-2 text-primary-dark" mat-cell *matCellDef="let row">
        {{ row.postingDate | date }}
      </td>
    </ng-container>
    <ng-container matColumnDef="lineNumber">
      <th class="p-2" mat-header-cell *matHeaderCellDef>Sıra</th>
      <td class="p-2 text-primary-dark" mat-cell *matCellDef="let row">
        {{ row.lineNumber }}
      </td>
    </ng-container>
    <ng-container matColumnDef="lineNumberCounter">
      <th class="p-2" mat-header-cell *matHeaderCellDef>Yevmiye No</th>
      <td class="p-2 text-primary-dark" mat-cell *matCellDef="let row">
        {{ row.lineNumberCounter }}
      </td>
    </ng-container>
    <ng-container matColumnDef="documentNumber">
      <th class="p-2" mat-header-cell *matHeaderCellDef>Belge No</th>
      <td class="p-2 text-primary-dark" mat-cell *matCellDef="let row">
        {{ row.documentNumber }}
      </td>
    </ng-container>
    <ng-container matColumnDef="documentDate">
      <th class="p-2" mat-header-cell *matHeaderCellDef>Belge Tarihi</th>
      <td class="p-2 text-primary-dark" mat-cell *matCellDef="let row">
        {{ row.documentDate | date }}
      </td>
    </ng-container>
    <ng-container matColumnDef="detailcomment">
      <th class="p-2" mat-header-cell *matHeaderCellDef>Açıklama</th>
      <td class="p-2 text-primary-dark" mat-cell *matCellDef="let row">
        {{ row.detailcomment }}
      </td>
    </ng-container>
    <ng-container matColumnDef="debitAmount">
      <th class="text-end p-2" mat-header-cell *matHeaderCellDef>Borç</th>
      <td class="p-2 text-primary-dark" mat-cell *matCellDef="let row">
        <app-currency [value]="row.debitAmount"></app-currency>
      </td>
    </ng-container>
    <ng-container matColumnDef="creditAmount">
      <th class="text-end p-2" mat-header-cell *matHeaderCellDef>Alacak</th>
      <td class="p-2 text-primary-dark" mat-cell *matCellDef="let row">
        <app-currency [value]="row.creditAmount"></app-currency>
      </td>
    </ng-container>
    <ng-container matColumnDef="debitBalanbce">
      <th class="text-end p-2" mat-header-cell *matHeaderCellDef>
        Borç Bakiye
      </th>
      <td class="p-2 text-primary-dark" mat-cell *matCellDef="let row">
        <app-currency [value]="row.debitBalanbce"></app-currency>
      </td>
    </ng-container>
    <ng-container matColumnDef="creditBalanbce">
      <th class="text-end p-2" mat-header-cell *matHeaderCellDef>
        Alacak Bakiye
      </th>
      <td class="p-2 text-primary-dark" mat-cell *matCellDef="let row">
        <app-currency [value]="row.creditBalanbce"></app-currency>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<mat-paginator [length]="resultsLength" [pageSize]="10"></mat-paginator>
