<h4>Müşteri Ciro Sıralaması</h4>
<table mat-table [dataSource]="dataSource" class="w-100">
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element" class="text-primary">
      {{ element.position }}
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Firma Adı</th>
    <td mat-cell *matCellDef="let element" class="text-primary">
      {{ element.name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef class="text-end">Toplam Ciro</th>
    <td mat-cell *matCellDef="let element" class="text-primary">
      <app-currency [value]="element.weight"></app-currency>
    </td>
  </ng-container>

  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef class="text-end">Toplam Bakiye</th>
    <td mat-cell *matCellDef="let element" class="text-primary">
      <app-currency [value]="element.symbol"></app-currency>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
