@import "./scss/bootstrap/bootstrap.scss";
@import "./scss/preloader.scss";
@import "./scss/auth.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f1f1f1;
}
::-webkit-scrollbar {
  border-radius: 4px;
  width: 5px;
  height: 8px;
  background-color: #628acc;
}

::-webkit-scrollbar-thumb {
  background: #31558f;
  border-radius: 4px;
}
.cursor-pointer {
  cursor: pointer;
}
th {
  font-weight: normal;
}

.tr {
  display: table-row;
  > * {
    display: table-cell;
    background-color: var(--bs-table-bg) !important;
    border-bottom-width: 1px !important;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg) !important;
    border-color: var(--bs-gray-300) !important;
    border-style: solid !important;
  }
}
.text-primary-dark {
  color: darken($color: $primary, $amount: 15);
}
.light-theme,
.light-theme.mat-focused {
  .mat-select-placeholder,
  .mat-select-value-text,
  .mat-select-arrow,
  .mat-form-field-outline,
  .mat-form-field-empty.mat-form-field-label,
  .mat-form-field-label,
  .mat-form-field-underline,
  .mat-input-element,
  ::placeholder {
    color: #fff !important;
  }
  .mat-form-field-underline,
  .mat-form-field-ripple {
    background-color: #fff !important;
  }
}
.mat-form-field-underline {
  display: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgba(245, 245, 245) inset !important;
}
app-header {
  .mat-form-field-wrapper {
    padding-bottom: 0px !important;
  }
}
