<div class="d-flex border-bottom header bg-white p-2">
  <button
    mat-icon-button
    color="primary"
    class="align-self-center d-xl-none d-xxl-none"
    (click)="onToggleMenu.emit()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <app-page-title class="ps-1 align-self-center"></app-page-title>
  <app-select-company class="ms-auto align-self-center"></app-select-company>
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    color="primary"
    class="align-self-center ms-3"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Profil</button>
    <app-sign-out-button></app-sign-out-button>
  </mat-menu>
</div>
